---
import Blog from "@layouts/blog";
---

<Blog title="Crumpled Paper">
    <div class="post-header container">
        <h1 class="post-title">About</h1>
    </div>
    <div class="content container">
        <p>
            Crumpled Paper symbolizes the constant evolution of ideas and the acceptance that we
            must be wrong in order to make progress. It is published by JP Hutchins, a professional
            firmware engineer and open source software contributor.
        </p>
        <p>
            JP is interested in developer experience, open source software distribution and
            security, programming pedagogy, compile time programming, functional programming, type
            systems, program correctness, and static analysis.
        </p>
        <p>
            Additionally, this blog provides a place to draft thoughts about engineering labor and
            strategies for advancing socialist politics in the tech industry.
        </p>
        <p style="font-style: italic;">
            All content represents the opinion of the Author and the Author alone, and is not shared
            by any of the Author's employers, past, present and future.
        </p>

        <div style="display: flex; justify-content: center; margin-top: 2rem;">
            <img
                src="/crumpledpaper_500x500.png"
                alt="Crumpled Paper"
                style="max-width: min(400px, 100%); height: auto;"
            />
        </div>
    </div>
</Blog>
