---
import Blog from "@layouts/blog";
---

<Blog title="Crumpled Paper">
    <div class="content container">
        <h1>Credits</h1>
        <p>
            This page is built with <a href="https://astro.build/">Astro</a>, and the following open
            source projects:
            <ul>
                <li>@astrojs/markdown-remark</li>
                <li>@astrojs/mdx</li>
                <li>astro</li>
                <li>astro-expressive-code</li>
                <li>rehype-autolink-headings</li>
                <li>rehype-external-links</li>
                <li>rehype-katex</li>
                <li>rehype-math</li>
                <li>rehype-slug</li>
                <li>remark-directive</li>
                <li>remark-gfm</li>
                <li>remark-math</li>
                <li>remark-mermaidjs</li>
                <li>remark-toc</li>
                <li>sass-embedded</li>
                <li>Libertinus Fonts</li>
            </ul>
        </p>
        <p>
            Take a look at the <a href="/2020-01-01-demoing-astro-features">Astro Demo</a> post to see
            these tools in action!
        </p>
    </div>
</Blog>
