---
import Blog from "@layouts/blog";
---

<Blog title="Crumpled Paper">
	<div class="post-header container">
		<h1 class="post-title">Credits</h1>
	</div>
	<div class="content container">
		<p>
			This website is built with <a href="https://astro.build/">Astro</a>, and a bunch of open
			source projects. See the <a
				href="https://github.com/JPHutchins/interstellar-inclination">source on GitHub</a
			>
			for the full list of dependencies.
		</p>
		<p>
			Take a look at the <a href="/2020-01-01-demoing-astro-features">Astro Demo</a> post to see
			these tools in action!
		</p>
	</div>
</Blog>
