---
import { published } from "@data/post";
import Blog from "@layouts/blog";
import Preview from "@components/blog/preview";
import { MarkdownInstance } from "astro";

const posts = published(
    (await Promise.all(
        Object.values(import.meta.glob("../content/**/*.md")).map((fn) => fn())
    )) as MarkdownInstance<any>[]
);
---

<Blog title="Crumped Paper">
    <div class="content container">
        <h1>Table of Contents</h1>
        <h2>About</h2>
        <h2>Posts</h2>
        {posts.map((post) => <Preview post={post} />)}
    </div>
</Blog>
