---
import { published } from "@data/post";
import Blog from "@layouts/blog";
import Preview from "@components/blog/preview";
import { getPosts } from "src/utils/get-posts";

const posts = published(await getPosts());
---

<Blog title="Crumpled Paper">
    <div class="post-header container">
        <h1 class="post-title">Posts</h1>
    </div>
    <div class="content container">
        {posts.map((post) => <Preview post={post} />)}
    </div>
</Blog>
