:root {
	--background-color: hsl(43, 51%, 92%);
	--turquoise: #35cf9f;

	--root-text-color: rgb(58, 75, 75);
	--root-text-color-link: #185e48;
	--root-text-color-link-hover: #00af78;
	--text-color-aside: var(--root-text-color);
	--text-color-aside-link: var(--root-text-color-link);
	--text-color-aside-link-hover: var(--root-text-color-link-hover);
}

[data-theme="light"] {
	--background-color-alt: hsl(175, 22%, 90%);
	--background-color-inline-code: hsl(300, 35%, 94%);
	--text-color-header: rgb(57, 71, 71);
	--text-color: var(--root-text-color);
	--text-color-inline-code: black;
	--text-color-alt: hsl(188 12% 24%);
	--text-color-link: var(--root-text-color-link);
	--text-color-link-hover: var(--root-text-color-link-hover);
}

[data-theme="dark"] {
	--background-color-alt: hsl(168, 15%, 13%);
	--background-color-inline-code: hsl(171, 48%, 5%);
	--background-color: hsl(180, 8%, 9%);
	--text-color-header: white;
	--text-color: hsl(99, 21%, 87%);
	--text-color-inline-code: white;
	--text-color-alt: hsl(188 12% 85%);
	--text-color-link: #d8b9ec;
	--text-color-link-hover: #f6e6ff;
}
