---

---

<nav class="nav-links">
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/credits/">Credit</a>
</nav>

<style>
	.nav-links {
		margin-left: 5em;
		display: block;
		position: static;
		width: auto;
		background: none;
	}

	.nav-links a {
		display: inline-block;
		padding: 15px 20px;
		color: var(--text-color-aside);
		text-decoration: none;
		font-size: 1.3rem;
		font-family: "Libertinus Sans", sans-serif;
		font-weight: bold;
	}

	.nav-links a:hover,
	.nav-links a:focus {
		text-decoration: underline;
	}

	@media (max-width: 1024px) {
		.nav-links {
			width: 100%;
			top: 72px;
			left: 0;
			display: none;
			position: absolute;
		}

		.nav-links a {
			display: block;
			text-align: center;
			padding: 10px 0;
			text-decoration: none;

			color: var(--text-color-aside);
			background-color: var(--turquoise);
			border-top: 1px solid var(--text-color-aside);
		}

		.nav-links a:hover,
		.nav-links a:focus {
			text-decoration: underline;
		}

		.expanded {
			display: unset;
		}
	}
</style>
