---
import DarkModeToggle from "@components/DarkModeToggle";
import Navigation from "@components/Navigation";
import Hamburger from "@components/Hamburger";
---

<div class="top">
    <div class="container">
        <img src="/crumpledpaper_100x100.png" alt="Crumpled Paper" />
        <a href="/">Crumpled<br />Paper</a>
        <Navigation />
        <DarkModeToggle />
        <Hamburger />
    </div>
</div>

<script>
    document.querySelector(".hamburger")?.addEventListener("click", () => {
        document.querySelector(".nav-links")?.classList.toggle("expanded");
    });
</script>

<style>
    .top {
        background-color: var(--turquoise);
        margin-bottom: 20px;
        .container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            img {
                max-height: 4rem;
            }

            nav {
                margin-left: auto;
            }
        }
    }

    a {
        font-family: "Fira Code", monospace;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1;
        color: var(--text-color-aside);
        text-decoration: none;
    }
</style>
