---
import DarkModeToggle from "@components/DarkModeToggle";
import Nav from "@components/Nav";
---

<div class="top">
    <div class="container">
        <img src="/crumpledpaper_100x100.png" alt="Crumpled Paper" />
        <a href="/">Crumpled<br />Paper</a>
        <Nav />
        <DarkModeToggle />
    </div>
</div>

<style>
    .top {
        background-color: var(--turquoise);
        margin-bottom: 20px;
        .container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.5rem 0;
            gap: 1rem;
            img {
                max-height: 4rem;
            }
        }
    }

    a {
        font-family: "Fira Code", monospace;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1;
        color: var(--text-color-aside);
        text-decoration: none;
    }
</style>
